<a href="https://colab.research.google.com/github/TARUNCODER/CLASS39/blob/main/Class_99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
num = int(input("enter the number of rows"))

enter the number of rows5

In [10]:
for i in range(0, num):
      for j in range(0, i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [13]:
for i in range(0, num):
      for j in range(0, i-1):
        print("*",end=" ")
      print()

*
* *
* * *

In [14]:
for i in range(1, num+1):
      for j in range(1, i+1):
        print(j,end=" ")
      print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [15]:
for i in range(0, num):
      for j in range(num, i,-1):
        print("*",end=" ")
      print()

* * * * *
* * * *
* * *
* *
*

In [16]:
for i in range(num, 0,-1):
      for j in range(1, i+1):
        print(j,end=" ")
      print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1